.plus-icon {
  display: flex;
  justify-content: end;
  padding: 5vh
}

.area-main {
  width: 100%;
  height: 100%;
}

.area-list {
  width: 100%;
  height: 100%;
}

.areas {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}

.area-add {
  width: 100%;
  height: 100%;
}
