.plus-icon {
  display: flex;
  justify-content: end;
  padding: 5vh
}

.map-main {
  width: 100%;
  height: 100%;
}

.map-list {
  width: 100%;
  height: 100%;
}

.maps {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.map-add {
  width: 100%;
  height: 100%;
}
