.Menu {
  width: 100%;
  height: 20vh;
  display: flex;
  position: fixed;
  bottom: 0;
}
.MenuItem1 {
  width: 33vw;
  height: 100%;
}
.MenuItem2 {
  width: 34vw;
  height: 100%;
}
.MenuItem3 {
  width: 33vw;
  height: 100%;
}

